@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0f0715;
    --foreground: #dddddd;

    --card: #ffffff;
    --card-foreground: #ffffff;

    --popover: #ffffff;
    --popover-foreground: #ffffff;

    --primary: #dddddd;
    --primary-foreground: #0f0715;

    --secondary: #d2f6f6;
    --secondary-foreground: #dada1d;

    --muted: #d2f6f6;
    --muted-foreground: #d7a52f;

    --accent: #d2f6f6;
    --accent-foreground: #dada1d;

    --destructive: #ff99ff;
    --destructive-foreground: #d2f6fa;

    --border: #e0eeec;
    --input: #e0eeec;
    --ring: #ffffff;

    --radius: 0.5rem;
  }

  .dark {
    --background: #ffffff;
    --foreground: #d2f6fa;

    --card: #ffffff;
    --card-foreground: #d2f6fa;

    --popover: #ffffff;
    --popover-foreground: #d2f6fa;

    --primary: #d2f6fa;
    --primary-foreground: #0f0715;

    --secondary: #daf2f9;
    --secondary-foreground: #d2f6fa;

    --muted: #daf2f9;
    --muted-foreground: #d790a6;

    --accent: #daf2f9;
    --accent-foreground: #d2f6fa;

    --destructive: #ff9cce;
    --destructive-foreground: #d2f6fa;

    --border: #daf2f9;
    --input: #daf2f9;
    --ring: #d5d5d5;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

#heroSection::before {
  background: linear-gradient(260deg, #8750f7 0%, rgba(115, 67, 210, 0) 100%);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 322px;
  height: 308px;
  border-radius: 50%;
  z-index: -10000;
  filter: blur(150px);
  margin-top: -5%;
}

.bgTitle {
  background: linear-gradient(to right, #8750f7 0%, white 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

*{
scrollbar-width: thin;
scrollbar-color: #8750f7 #2a1454;
}



.bgImageCode{
  background: url('../../public/patterCode.svg') transparent;
  background-repeat: repeat;
  background-size: cover;
}





::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--background);
}

html {
  scroll-snap-type: y mandatory;
}


section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: center;
  perspective: 500px;
}

section > div {
  width: 100%;
  position: relative;
  overflow: hidden;
}
